<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ data.action === "add" ? 'Adicionar curso' : 'Editar curso #' + data.course.id  }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="mb-3">
      <label for="name" class="form-label"><span class="text-danger">*</span> Nome</label>
      <input 
        type="text" 
        class="form-control" 
        formControlName="name" 
        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
      />
      <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
        <div *ngIf="f['name'].errors['required']">Nome é um campo obrigatório.</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label"><span class="text-danger">*</span> Categoria</label>
      <!-- <input 
        type="text" 
        class="form-control" 
        formControlName="category" 
        [ngClass]="{ 'is-invalid': submitted && f['category'].errors }"
      /> -->
      <select 
        class="form-select" 
        aria-label="Default select example"
        formControlName="category" 
        [ngClass]="{ 'is-invalid': submitted && f['category'].errors }"
      >
        <option value="" disabled>Selecione uma opção</option>
        <option value="Front-end">Front-end</option>
        <option value="Back-end">Back-end</option>
        <option value="Full-stack">Full-stack</option>
      </select>
      <div *ngIf="submitted && f['category'].errors" class="invalid-feedback">
        <div *ngIf="f['category'].errors['required']">Categoria é um campo obrigatório.</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">Save</button>
  </div>
</form>
